/*
 * This file is part of µHashtools.
 * µHashtools is a small graphical file hashing tool for Microsoft Windows.
 * 
 * SPDX-FileCopyrightText: 2024 Marcel Gosmann <thafiredragonofdeath@gmail.com>
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

#include <Windows.h>
#include "product_common.h"


#define VER_FILEVERSION             UHASHTOOLS_RC_FILEVERSION
#define VER_FILEVERSION_STR         UHASHTOOLS_RC_FILEVERSION_STR

#define VER_FILEFLAGS               UHASHTOOLS_RC_FILEFLAGS

#define VER_PRODUCTVERSION          UHASHTOOLS_RC_PRODUCTVERSION
#define VER_PRODUCTVERSION_STR      UHASHTOOLS_RC_PRODUCTVERSION_STR

#define VER_INTERNALNAME_STR        UHASHTOOLS_RC_INTERNALNAME_STR
#define VER_ORIGINALFILENAME_STR    UHASHTOOLS_RC_ORIGINALFILENAME_STR

#define VER_FILEDESCRIPTION_STR     UHASHTOOLS_RC_FILEDESCRIPTION_STR
#define VER_COMPANY_STR             UHASHTOOLS_RC_COMPANY_STR
#define VER_LEGALCOPYRIGHT_STR      UHASHTOOLS_RC_LEGALCOPYRIGHT_STR

#define VER_PRODUCTNAME_STR         UHASHTOOLS_RC_PRODUCTNAME_STR

UHASHTOOLS_APPLICATION_ICON ICON "application_icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_FILEFLAGS
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      VER_COMPANY_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.      */
        /* It consists of any number of WORD,WORD pairs, with each pair            */
        /* describing a language,code page combination supported by the file.      */
        /*                                                                         */
        /* For example, a file might have values "0x409,1252" indicating that it   */
        /* supports English language (0x409) in the Windows ANSI code page (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
